//GENERALES
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p, label {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

//VARIABLES
$blanco: #ffffff;
$blancoClaro: #dde2de;
$negro: #041b15;
$negroClaro: #1b1f22;
$celeste: #71c5c7;
$boxShadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

body {
    margin: 0;

    header {
        z-index: 1;
        position: sticky;
        top: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: $blanco;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        box-shadow: $boxShadow;

        img {
            width: 50px;
            height: 50px;
        }

        .logoNav {
            border-radius: 50%;
        }

        .links, .listaLinks {
            list-style: none;
            margin: 0;

            li {
                margin: 0 10px;
                color: $negro;
                text-decoration: none;
                a {
                    font-size: large;
                    font-family: 'Poppins', sans-serif;
                    color: $negro;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    &:hover {
                        color: $celeste;
                        font-size: larger;
                        text-decoration: underline;
                    }
                }
            }
        }

        .linksMobile {
            position: relative;
            .titulo {
                margin: 0;
            }
            &:hover {
                .titulo {
                    cursor: pointer;
                    text-decoration: underline;
                }
                .listaLinks {
                    display: flex;
                }
            }
        }

        .listaLinks {
            display: none;
            position: absolute;
            right: 0px;
            flex-direction: column;
            align-items: center;
            background: $blanco;
            top: 30px;
            padding: 10px;
            border-radius: 6px;
            box-shadow: $boxShadow;
        }
    }

    footer {
        padding: 10px 15%;
        text-align: center;
        background-color: $negroClaro;
        color: $blancoClaro;
        display: flex;
        flex-direction: column;
        .newsletter {
            padding: 10px 0;
            display: flex;
            border-bottom: 1px solid $blancoClaro;
            p {
                margin: 1rem 0
            }
        }
        .opciones {
            display: flex;
            justify-content: flex-start;
            padding: 10px 0;
            border-bottom: 1px solid $blancoClaro;
            .contenedor {
                .subTitulo {
                    margin: 1rem 0;
                }
                .items {
                    text-align: start;
                }
            }
        }
        .derechos {
            display: flex;
            justify-content: flex-end;
            p {
                margin: 1rem 0;
            }
        }
    }

    .empresasAsociadas {
        margin: 10% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
            font-size: x-large;
            a {
                color: $celeste;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .empresas {
            display: flex;
            margin: 50px 0;
            padding: 25px 0;
            box-shadow: $boxShadow;
            border-radius: 6px;
            img {
                margin: 15px;
                height: 50px;
            }
        }

        // MEDIA QUERYS
        @media (width < 700px){
            .empresas {
                flex-direction: column;
                align-items: center;
            }
        }
        @media (width >= 700px){
            .empresas {
                justify-content: center;
            }
        }
    }

    /* MEDIA QUERYS */
    /* HEADER Y FOOTER*/

    @media(width < 550px){
        & .links {
            display: none;
        }
        & .linksMobile {
            display: flex;
        }
        & .footer {
            .newsletter {
                justify-content: center;
            }
            .opciones {
                flex-direction: column;
            }
        }
    }

    @media(width > 550px){
        & .linksMobile {
            display: none;
        }
        & .links {
            display: flex;
        }
        & .footer {
            .newsletter {
                justify-content: flex-start;
            }
            .opciones {
                .contenedor {
                    margin-right: 50px;
                }
            }
        }
    }
}

/* INDEX */

.index {
    .pantallasGrandes {
        background-image: url('assets/imagenPrincipal.jpg');
        background-size: cover;      // La imagen cubre todo el área
        background-position: center; // Centra la imagen
        background-repeat: no-repeat;// Evita que se repita
        min-height: 80vh;
        .palabras {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 2%;
            margin: 10%;
            background: rgb(27, 31, 34, 0.4); // gris semitransparente
            backdrop-filter: blur(20px);            
            border-radius: 40px;
            width: 40%;
            h1 {
                font-size: xxx-large;
                color: $blancoClaro;
            }
            p {
                font-size: x-large;
                color: $blancoClaro;
            }
            a {
                max-width: 400px;
                border: 2px solid $celeste;
                background-color: $celeste;
            }
        }
        .boton {
            display: flex;
            align-items: center;
            margin: 10%;
        }
    }
    .pantallasChicas {
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 150px;
        img {
            width: 100%;
        }
        .contenidoChico {
            position: absolute;
            bottom: -150px;
            margin: 0 15%;
            padding: 5%;
            background: rgb(27, 31, 34, 0.4); // gris semitransparente
            backdrop-filter: blur(20px);            
            border-radius: 40px;
            h1, p {
                color: $blancoClaro;
            }
            a {
                width: 100%;
                border: 2px solid $celeste;
                background-color: $celeste;
            }
        }
    }
    @media(width < 925px){
        .pantallasGrandes {
            display: none;
        }
        .pantallasChicas {
            display: flex;
        }
    }
    @media(width >= 925px){
        .pantallasGrandes {
            display: flex;
        }
        .pantallasChicas {
            display: none;
        }
    }
    .infoEmpresa {
        padding: 10%;
    }
    .cards {
        background: $blancoClaro;
        padding: 10%;
        display: flex;
        justify-content: space-around;
        /* MEDIA QUERYS */
        @media(width < 925px){
            flex-direction: column;
        }
        .card1, .card2, .card3 {
            min-width: 150px;
            height: 450px;
            background-color: $blanco;
            border-radius: 40px;
            padding: 20px;
            margin: 10px;
            box-shadow: $boxShadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            img {
                width: 100px;
                height: 100px;
                margin: 10px 0;
            }
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: larger;
                margin-bottom: 10px;
            }
            p {
                font-size: medium;
            }
            &:hover {
                transform: scale(1.1);
                transition: all 0.5s ease;
                background-color: $celeste;
                p, h3 {
                    transition: all 0.3s ease;
                    color: $blancoClaro;
                }
            }
        }

        @media(width > 925px){
            .card1, .card2, .card3 {
                width: 25%;
            }
            .card2 {
                margin-top: 100px;
            }
        }
    }
}

/* PRODUCTOS */

.productos {
    .titulo {
        margin: 10% 15% 3% 15%;
        h1 {
            font-size: xx-large;
        }
        p {
            font-size: larger;
        }
    }
    .cardsProductos {
        background: $blancoClaro;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divCard {
            margin: 3% 0;
            background: $blanco;
            box-shadow: $boxShadow;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            img {
                height: 350px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            .texto {
                padding: 0 10%;
            }
            @media(width < 1000px){
                  flex-direction: column;
                    width: 350px;
                    img {
                        border-radius: 6px;
                    }
                    .texto {
                        padding: 10%;
                        a {
                            width: 100%;
                        }
                    }
                
            }
        }

        .otrosProductos {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 10%;
            a {
                width: 70%;
                max-width: 500px;
                min-width: 250px;
                background: $celeste;
                border: 2px solid $celeste;
                color: $blanco;
            }
        }
    }
}

/* EQUIPO */
.equipo {
    .imagenCorte {
        object-fit: cover;
        max-height: 40vh;
        width: 100%;
        display: block;
    }

    .origenes, .expansion, .cambio, .actualidad {
        margin: 10% 15%;
        
        h1, h2 {
            font-size: xx-large;
            margin-bottom: 20px;
        }
    }

    .vueltaInicio {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            width: fit-content;
            margin: 50px;
            a {
                color: $negroClaro;
                text-decoration: none;
                padding: 20px 25px;
                border: 2px solid $negroClaro;
                border-radius: 50%;
                transition: all 0.3s ease;
                &:hover {
                    cursor: pointer;
                    border: 2px solid $negroClaro;
                    background: $celeste;
                    color: $blancoClaro;
                }
            }
        }
    }
}

/* SERVICIOS */

.servicios {
    display: flex;
    flex-direction: column;
    .introServicios {
        margin: 10% 15% 3% 15%;
        h1 {
            font-size: xx-large;
        }
        p {
            font-size: larger;
        }
    }

    .detalle {
        display: flex;
        .pesaje {
            background-image: url('./assets/pesaje.png');
            background-size: cover;      // La imagen cubre todo el área
            background-position: center; // Centra la imagen
            background-repeat: no-repeat;// Evita que se repita
        }
        .asesoramiento {
            background-image: url('./assets/asesoramiento.png');
            background-size: cover;      // La imagen cubre todo el área
            background-position: center; // Centra la imagen
            background-repeat: no-repeat;// Evita que se repita
        }
        .pesaje, .asesoramiento {
            width: 50%;
            height: 50vh;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background: $blancoClaro;
            // box-shadow: $boxShadow;
            p, h3 {
                background: rgb(27, 31, 34, 0.4); // gris semitransparente
                backdrop-filter: blur(20px);    
                border-radius: 6px;
                padding: 2%;
                margin: 0;
                color: $blancoClaro;
                text-align: center;
            }
            p {
                display: none;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
                padding: 0;
                h3 {
                    display: none;                    
                }
                p {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 0;
                }
            }
        }
        @media(width < 800px){
            flex-direction: column;
            .pesaje, .asesoramiento {
                width: 100%;
            }
        }
    }

    .opiniones {
        background: $blancoClaro;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 50px;
            font-size: xx-large;
        }
        .opinion {
            display: flex;
            align-items: center;
            p {
                font-size: x-large;
            }
            img {
                border-radius: 50%;
                max-width: 250px;
                width: 50%;
                margin-right: 20px;
            }
            @media(width < 800px){
                flex-direction: column;
                img {
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}

/* CONTACTO */

.contacto {
    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 15%;
        input, textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 6px;
            border: 1px solid $negroClaro;
            font-size: medium;
        }
        button {
            width: 100%;
        }
        // button {
        //     padding: 10px 20px;
        //     background-color: $celeste;
        //     color: $blancoClaro;
        //     border: none;
        //     border-radius: 6px;
        //     cursor: pointer;
        //     &:hover {
        //         background-color: darken($celeste, 10%);
        //     }
        // }
    }
    .mensaje {
        background: $blancoClaro;
        padding: 15%;
        p {
            font-size: x-large;
        }
    }
    .faqs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 15%;
        .titulo {
            h2 {
                font-size: xx-large;
            }
        }
        .faqItem {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            h3 {
                font-size: x-large;
                font-style: italic;
            }
        }
    }
}

