@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
p, label {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  /* MEDIA QUERYS */
  /* HEADER Y FOOTER*/
}
body header {
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
body header img {
  width: 50px;
  height: 50px;
}
body header .logoNav {
  border-radius: 50%;
}
body header .links, body header .listaLinks {
  list-style: none;
  margin: 0;
}
body header .links li, body header .listaLinks li {
  margin: 0 10px;
  color: #041b15;
  text-decoration: none;
}
body header .links li a, body header .listaLinks li a {
  font-size: large;
  font-family: "Poppins", sans-serif;
  color: #041b15;
  text-decoration: none;
  transition: all 0.3s ease;
}
body header .links li a:hover, body header .listaLinks li a:hover {
  color: #71c5c7;
  font-size: larger;
  text-decoration: underline;
}
body header .linksMobile {
  position: relative;
}
body header .linksMobile .titulo {
  margin: 0;
}
body header .linksMobile:hover .titulo {
  cursor: pointer;
  text-decoration: underline;
}
body header .linksMobile:hover .listaLinks {
  display: flex;
}
body header .listaLinks {
  display: none;
  position: absolute;
  right: 0px;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  top: 30px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
body footer {
  padding: 10px 15%;
  text-align: center;
  background-color: #1b1f22;
  color: #dde2de;
  display: flex;
  flex-direction: column;
}
body footer .newsletter {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #dde2de;
}
body footer .newsletter p {
  margin: 1rem 0;
}
body footer .opciones {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #dde2de;
}
body footer .opciones .contenedor .subTitulo {
  margin: 1rem 0;
}
body footer .opciones .contenedor .items {
  text-align: start;
}
body footer .derechos {
  display: flex;
  justify-content: flex-end;
}
body footer .derechos p {
  margin: 1rem 0;
}
body .empresasAsociadas {
  margin: 10% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .empresasAsociadas p {
  text-align: center;
  font-size: x-large;
}
body .empresasAsociadas p a {
  color: #71c5c7;
  text-decoration: none;
}
body .empresasAsociadas p a:hover {
  text-decoration: underline;
}
body .empresasAsociadas .empresas {
  display: flex;
  margin: 50px 0;
  padding: 25px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
body .empresasAsociadas .empresas img {
  margin: 15px;
  height: 50px;
}
@media (width < 700px) {
  body .empresasAsociadas .empresas {
    flex-direction: column;
    align-items: center;
  }
}
@media (width >= 700px) {
  body .empresasAsociadas .empresas {
    justify-content: center;
  }
}
@media (width < 550px) {
  body .links {
    display: none;
  }
  body .linksMobile {
    display: flex;
  }
  body .footer .newsletter {
    justify-content: center;
  }
  body .footer .opciones {
    flex-direction: column;
  }
}
@media (width > 550px) {
  body .linksMobile {
    display: none;
  }
  body .links {
    display: flex;
  }
  body .footer .newsletter {
    justify-content: flex-start;
  }
  body .footer .opciones .contenedor {
    margin-right: 50px;
  }
}

/* INDEX */
.index .pantallasGrandes {
  background-image: url("assets/imagenPrincipal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.index .pantallasGrandes .palabras {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
  margin: 10%;
  background: rgba(27, 31, 34, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 40px;
  width: 40%;
}
.index .pantallasGrandes .palabras h1 {
  font-size: xxx-large;
  color: #dde2de;
}
.index .pantallasGrandes .palabras p {
  font-size: x-large;
  color: #dde2de;
}
.index .pantallasGrandes .palabras a {
  max-width: 400px;
  border: 2px solid #71c5c7;
  background-color: #71c5c7;
}
.index .pantallasGrandes .boton {
  display: flex;
  align-items: center;
  margin: 10%;
}
.index .pantallasChicas {
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 150px;
}
.index .pantallasChicas img {
  width: 100%;
}
.index .pantallasChicas .contenidoChico {
  position: absolute;
  bottom: -150px;
  margin: 0 15%;
  padding: 5%;
  background: rgba(27, 31, 34, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 40px;
}
.index .pantallasChicas .contenidoChico h1, .index .pantallasChicas .contenidoChico p {
  color: #dde2de;
}
.index .pantallasChicas .contenidoChico a {
  width: 100%;
  border: 2px solid #71c5c7;
  background-color: #71c5c7;
}
@media (width < 925px) {
  .index .pantallasGrandes {
    display: none;
  }
  .index .pantallasChicas {
    display: flex;
  }
}
@media (width >= 925px) {
  .index .pantallasGrandes {
    display: flex;
  }
  .index .pantallasChicas {
    display: none;
  }
}
.index .infoEmpresa {
  padding: 10%;
}
.index .cards {
  background: #dde2de;
  padding: 10%;
  display: flex;
  justify-content: space-around;
  /* MEDIA QUERYS */
}
@media (width < 925px) {
  .index .cards {
    flex-direction: column;
  }
}
.index .cards .card1, .index .cards .card2, .index .cards .card3 {
  min-width: 150px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.index .cards .card1 img, .index .cards .card2 img, .index .cards .card3 img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}
.index .cards .card1 h3, .index .cards .card2 h3, .index .cards .card3 h3 {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}
.index .cards .card1 p, .index .cards .card2 p, .index .cards .card3 p {
  font-size: medium;
}
.index .cards .card1:hover, .index .cards .card2:hover, .index .cards .card3:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: #71c5c7;
}
.index .cards .card1:hover p, .index .cards .card1:hover h3, .index .cards .card2:hover p, .index .cards .card2:hover h3, .index .cards .card3:hover p, .index .cards .card3:hover h3 {
  transition: all 0.3s ease;
  color: #dde2de;
}
@media (width > 925px) {
  .index .cards .card1, .index .cards .card2, .index .cards .card3 {
    width: 25%;
  }
  .index .cards .card2 {
    margin-top: 100px;
  }
}

/* PRODUCTOS */
.productos .titulo {
  margin: 10% 15% 3% 15%;
}
.productos .titulo h1 {
  font-size: xx-large;
}
.productos .titulo p {
  font-size: larger;
}
.productos .cardsProductos {
  background: #dde2de;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos .cardsProductos .divCard {
  margin: 3% 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.productos .cardsProductos .divCard img {
  height: 350px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.productos .cardsProductos .divCard .texto {
  padding: 0 10%;
}
@media (width < 1000px) {
  .productos .cardsProductos .divCard {
    flex-direction: column;
    width: 350px;
  }
  .productos .cardsProductos .divCard img {
    border-radius: 6px;
  }
  .productos .cardsProductos .divCard .texto {
    padding: 10%;
  }
  .productos .cardsProductos .divCard .texto a {
    width: 100%;
  }
}
.productos .cardsProductos .otrosProductos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}
.productos .cardsProductos .otrosProductos a {
  width: 70%;
  max-width: 500px;
  min-width: 250px;
  background: #71c5c7;
  border: 2px solid #71c5c7;
  color: #ffffff;
}

/* EQUIPO */
.equipo .imagenCorte {
  object-fit: cover;
  max-height: 40vh;
  width: 100%;
  display: block;
}
.equipo .origenes, .equipo .expansion, .equipo .cambio, .equipo .actualidad {
  margin: 10% 15%;
}
.equipo .origenes h1, .equipo .origenes h2, .equipo .expansion h1, .equipo .expansion h2, .equipo .cambio h1, .equipo .cambio h2, .equipo .actualidad h1, .equipo .actualidad h2 {
  font-size: xx-large;
  margin-bottom: 20px;
}
.equipo .vueltaInicio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.equipo .vueltaInicio p {
  width: fit-content;
  margin: 50px;
}
.equipo .vueltaInicio p a {
  color: #1b1f22;
  text-decoration: none;
  padding: 20px 25px;
  border: 2px solid #1b1f22;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.equipo .vueltaInicio p a:hover {
  cursor: pointer;
  border: 2px solid #1b1f22;
  background: #71c5c7;
  color: #dde2de;
}

/* SERVICIOS */
.servicios {
  display: flex;
  flex-direction: column;
}
.servicios .introServicios {
  margin: 10% 15% 3% 15%;
}
.servicios .introServicios h1 {
  font-size: xx-large;
}
.servicios .introServicios p {
  font-size: larger;
}
.servicios .detalle {
  display: flex;
}
.servicios .detalle .pesaje {
  background-image: url("./assets/pesaje.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.servicios .detalle .asesoramiento {
  background-image: url("./assets/asesoramiento.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.servicios .detalle .pesaje, .servicios .detalle .asesoramiento {
  width: 50%;
  height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicios .detalle .pesaje p, .servicios .detalle .pesaje h3, .servicios .detalle .asesoramiento p, .servicios .detalle .asesoramiento h3 {
  background: rgba(27, 31, 34, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 6px;
  padding: 2%;
  margin: 0;
  color: #dde2de;
  text-align: center;
}
.servicios .detalle .pesaje p, .servicios .detalle .asesoramiento p {
  display: none;
  height: 100%;
}
.servicios .detalle .pesaje:hover, .servicios .detalle .asesoramiento:hover {
  cursor: pointer;
  padding: 0;
}
.servicios .detalle .pesaje:hover h3, .servicios .detalle .asesoramiento:hover h3 {
  display: none;
}
.servicios .detalle .pesaje:hover p, .servicios .detalle .asesoramiento:hover p {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0;
}
@media (width < 800px) {
  .servicios .detalle {
    flex-direction: column;
  }
  .servicios .detalle .pesaje, .servicios .detalle .asesoramiento {
    width: 100%;
  }
}
.servicios .opiniones {
  background: #dde2de;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios .opiniones h2 {
  margin-bottom: 50px;
  font-size: xx-large;
}
.servicios .opiniones .opinion {
  display: flex;
  align-items: center;
}
.servicios .opiniones .opinion p {
  font-size: x-large;
}
.servicios .opiniones .opinion img {
  border-radius: 50%;
  max-width: 250px;
  width: 50%;
  margin-right: 20px;
}
@media (width < 800px) {
  .servicios .opiniones .opinion {
    flex-direction: column;
  }
  .servicios .opiniones .opinion img {
    margin: 0 0 20px 0;
  }
}

/* CONTACTO */
.contacto .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 15%;
}
.contacto .formulario input, .contacto .formulario textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #1b1f22;
  font-size: medium;
}
.contacto .formulario button {
  width: 100%;
}
.contacto .mensaje {
  background: #dde2de;
  padding: 15%;
}
.contacto .mensaje p {
  font-size: x-large;
}
.contacto .faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 15%;
}
.contacto .faqs .titulo h2 {
  font-size: xx-large;
}
.contacto .faqs .faqItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.contacto .faqs .faqItem h3 {
  font-size: x-large;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
