@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
p, label {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  /* MEDIA QUERYS */
  /* HEADER Y FOOTER*/
}
body header {
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
body header img {
  width: 50px;
  height: 50px;
}
body header .logoNav {
  border-radius: 50%;
}
body header .links, body header .listaLinks {
  list-style: none;
  margin: 0;
}
body header .links li, body header .listaLinks li {
  margin: 0 10px;
  color: #041b15;
  text-decoration: none;
}
body header .links li a, body header .listaLinks li a {
  font-size: large;
  font-family: "Poppins", sans-serif;
  color: #041b15;
  text-decoration: none;
  transition: all 0.3s ease;
}
body header .links li a:hover, body header .listaLinks li a:hover {
  color: #71c5c7;
  font-size: larger;
  text-decoration: underline;
}
body header .linksMobile {
  position: relative;
}
body header .linksMobile:hover .titulo {
  cursor: pointer;
  text-decoration: underline;
}
body header .linksMobile:hover .listaLinks {
  display: flex;
}
body header .listaLinks {
  display: none;
  position: absolute;
  right: 0px;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  top: 50px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
body .productos, body .contacto {
  margin: 0 15%;
}
body footer {
  padding: 10px 15%;
  text-align: center;
  background-color: #1b1f22;
  color: #dde2de;
  display: flex;
  flex-direction: column;
}
body footer .newsletter {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #dde2de;
}
body footer .newsletter p {
  margin: 1rem 0;
}
body footer .opciones {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #dde2de;
}
body footer .opciones .contenedor .subTitulo {
  margin: 1rem 0;
}
body footer .opciones .contenedor .items {
  text-align: start;
}
body footer .derechos {
  display: flex;
  justify-content: flex-end;
}
body footer .derechos p {
  margin: 1rem 0;
}
@media (width < 550px) {
  body .links {
    display: none;
  }
  body .linksMobile {
    display: flex;
  }
  body .footer .newsletter {
    justify-content: center;
  }
  body .footer .opciones {
    flex-direction: column;
  }
}
@media (width > 550px) {
  body .linksMobile {
    display: none;
  }
  body .links {
    display: flex;
  }
  body .footer .newsletter {
    justify-content: flex-start;
  }
  body .footer .opciones .contenedor {
    margin-right: 50px;
  }
}

/* INDEX */
.cards {
  margin: 0 15%;
  padding: 10% 0;
  display: flex;
  justify-content: space-around;
  /* MEDIA QUERYS */
}
@media (width < 925px) {
  .cards {
    flex-direction: column;
  }
}
.cards .card1, .cards .card2, .cards .card3 {
  min-width: 150px;
  height: 450px;
  background-color: #dde2de;
  border-radius: 6px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.cards .card1 img, .cards .card2 img, .cards .card3 img {
  width: 100px;
  height: 100px;
}
.cards .card1 h3, .cards .card2 h3, .cards .card3 h3 {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}
.cards .card1 p, .cards .card2 p, .cards .card3 p {
  font-size: medium;
}
.cards .card1:hover, .cards .card2:hover, .cards .card3:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: #71c5c7;
}
.cards .card1:hover p, .cards .card1:hover h3, .cards .card2:hover p, .cards .card2:hover h3, .cards .card3:hover p, .cards .card3:hover h3 {
  transition: all 0.3s ease;
  color: #dde2de;
}
@media (width > 925px) {
  .cards .card1, .cards .card2, .cards .card3 {
    width: 25%;
  }
  .cards .card2 {
    margin-top: 100px;
  }
}

/* PRODUCTOS */
.productos .titulo {
  margin-top: 3%;
}
.productos .titulo p {
  font-size: xx-large;
}
.productos .cardsProductos {
  padding: 3% 0 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* MEDIA QUERYS */
}
@media (width < 925px) {
  .productos .cardsProductos {
    flex-direction: column;
  }
}

/* EQUIPO */
.equipo .imagenCorte {
  object-fit: cover;
  max-height: 40vh;
  width: 100%;
  display: block;
}
.equipo .origenes, .equipo .expansion, .equipo .cambio, .equipo .actualidad {
  margin: 10% 15%;
}
.equipo .origenes h1, .equipo .origenes h2, .equipo .expansion h1, .equipo .expansion h2, .equipo .cambio h1, .equipo .cambio h2, .equipo .actualidad h1, .equipo .actualidad h2 {
  font-size: xx-large;
  margin-bottom: 20px;
}
.equipo .vueltaInicio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.equipo .vueltaInicio p {
  width: fit-content;
  margin: 50px;
  padding: 20px 25px;
  border: 2px solid #1b1f22;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.equipo .vueltaInicio p:hover {
  cursor: pointer;
  border: 2px solid #71c5c7;
  background: #1b1f22;
}
.equipo .vueltaInicio p:hover a {
  color: #71c5c7;
}
.equipo .vueltaInicio p a {
  color: #1b1f22;
  text-decoration: none;
}

/* SERVICIOS */
.servicios {
  display: flex;
  flex-direction: column;
}
.servicios .pesaje, .servicios .asesoramiento {
  display: flex;
  align-items: center;
}
.servicios .pesaje img, .servicios .asesoramiento img {
  border-radius: 50%;
  max-width: 50%;
}
.servicios .pesaje p, .servicios .asesoramiento p {
  text-align: center;
  font-size: larger;
  margin: 10px;
}

/* CONTACTO */
.contacto .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.contacto .formulario input, .contacto .formulario textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #1b1f22;
  font-size: medium;
}
.contacto .formulario button {
  width: 100%;
}
.contacto .faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}
.contacto .faqs .titulo h2 {
  font-size: xx-large;
}
.contacto .faqs .faqItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.contacto .faqs .faqItem h3 {
  font-size: x-large;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
